{% extends 'base.html' %}
<html lang="en">


{% block body %}
<h2>Stevens Repository</h2>
<h3>Student, Course, Grade and Instructor</h3>
<table border="1">
    <tr>
        <th>Student</th>
        <th>CWID</th>
        <th>Course</th>
        <th>Grade</th>
        <th>Instructor</th>
    </tr>
    {% for s in table %}
    <tr>

        <td>{{ s.cwid }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.course }}</td>
        <td>{{ s.grade }}</td>
        <td>{{ s.instructor }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}